@font-face {
    font-family: 'digital';
    src: url(font/digital-7.ttf) format('truetype');
}

html, body {
    height: 100vh;
    width: 100vw;
    font-size: 16px;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background: #fff;
}

.cal-container {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: -20px;
    height: 100%;
    width: 100%;
    left: 50%;
    top: 50%;
    overflow: visible;
    transform: translate(-50%, -50%);
    max-width: 320px;
    max-height: 480px;
    background-color: #000;
    border-radius: 10px;
    box-shadow: 5px 6px 20px 0px grey;
}

.screen-container{
    width: calc(100% - 20px);
    height: 80px;
    background-color: #C9C9AF;
    background-color: #000;
    color: #000;
    color: #fff;
    padding: 5px;
    margin: 10px;
    font: normal 5em digital;
    border: 0px solid black;
    text-align: right;
    border-radius: 5px;
    box-shadow: inset 0px 0px 8px 1px black;
}

.screen{
    height: 100%;
    padding: 0 5px;
}

.button-container{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 5px;
}

.row{
    flex: 1 1 auto;
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0!important;
    flex-direction: row;
}

.row:last-child{
    margin-bottom: 0;
}

.key{
    line-height: 2.5;
    padding: 0;
    overflow: hidden;
    color: #fff;
    font-size: 1.5em;
    text-align: center;
    box-sizing: content-box;
    border: 1px solid black;
    background-color: #144576;
}

.key:focus{
    outline: none;
}

.row:first-child .key:first-child,
.row:first-child .key:nth-child(2){
    background-color: #B22E29;
}

.row:last-child .key{
    border-bottom: transparent;
}

.row:last-child{
    border-bottom: transparent;
    height: 100%;
}

.row:last-child .key:first-child{
    border-bottom-left-radius: 8px;
}

.row:last-child .key:last-child{
    background-color: #DE8702;
    border-bottom-right-radius: 8px;
}

.key:hover{
    cursor: pointer;
}

.press{
    transform: scale(.95, .95) translateY(2px);
}
